@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

body{
    width: 375px;
    margin: 0 auto;
    padding: 0;
    font-family: 'Noto Sans KR', sans-serif;
    
    background-color: #f7f7f7;
}

.header {
    height: 145px;
    display: flex; 
    align-items: center;
    background-color: #FFE551;
    justify-items: center; 
    align-items: center;
    text-align: center;
    
}

.back-to-index{
    margin-left: 30px;
    background-image: url("../images/HomeButton.svg");
    background-size:100%;
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
    margin:60px 0px 0px 36px;
    
    /* background-color: black; */
    } 

input{
    min-width: 325px;
    font-family: inherit;
}
.goback{
    width:60px;
    margin-top: 50px;
}

.change-pwd-text{
    flex-grow: 0.75;
    margin-top: 40px;
}

h1{
    font-size: 20px;
    color:#282828;
    /* padding-left:40px; */
    margin-left: 20px;
}

h2{
    margin-top: 30px;
    font-size: 16px;
    text-align: center;
}

.input-change-pwd-wrapper ul{
    font-size : 16px;
    color:#282828;
    font-weight: bold;
    padding-left: 5px;
}

.input-change-pwd-wrapper{
    margin: 30px 20px 0 20px;
}

.input-change-pwd{
    width: 335px;
    height: 39px;
    border: none;
    border-radius: 8px;
    background-color: #eeeeee;
    font-size: 12px;
}

.input-change-pwd-wrapper input{
    line-height: 12px;
    padding: 12px 0 13px 10px;
    font-weight: bold;
    /* color: #9d999980; */
    list-style: none;
    
}

input:focus {
    outline: none;
}

li{
    font-size: 12px;
    padding : 20px 0 5px 20px;
    color: #b2b2b2;
}

button{
    width: 335px;
    height: 42px;
    border: none;
    background-color: #2292F9;
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
    border-radius: 8px;
    margin: 10px 20px;
    box-shadow: 2px 2px 4px #00000025;
    
    
}


button > a{
    text-decoration: none;
    color: #ffffff;
}
/* 첫 주의사항만 따로 마진 넣음*/
.first-li{
   margin-top: 10px ;
}