@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

body{
    width: 375px;
    margin: 0 auto;
    padding: 0;
    font-family: 'Noto Sans KR', sans-serif;
    background-color: #f7f7f7;
    font-weight: bold;
}

.header {
    height: 145px;
    display: flex; 
    align-items: center;
    background-color: #FFE551;
    justify-items: center; 
    align-items: center;
    text-align: center;
    
}
.goback{
    width:60px;
    margin-top: 50px;
}

.back-to-index{
    margin-left: 30px;
    background-image: url("../images/HomeButton.svg");
    background-size:100%;
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
    margin:60px 0px 0px 30px;
    
    /* background-color: black; */
    } 

.change-phone-number-text{
    flex-grow: 0.75;
    margin-top: 40px;
}

h1{
    font-size: 20px;
    color:#282828;
    margin-left: 46px;
}

h2{
    margin-top: 30px;
    font-size: 16px;
    text-align: center;
}

.input-change-phone-number-wrapper{
    font-size : 16px;
    color:#282828;
    font-weight: bold;
    width:335px;
    height: 39px;
    margin: 0 20px 0 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}


.input-change-phone-number{
    width: 230px;
    height: 39px;
    border: none;
    border-radius: 8px;
    background-color: #eeeeee;
    font-size: 12px;
    display: flex;
    padding-left: 10px;
}

.input-verify-number{
    width: 250px;
    height: 39px;
    border: none;
    border-radius: 8px;
    background-color: #eeeeee;
    font-size: 12px;
    display: flex;
    padding-left: 10px;
}

/*--------------인증 요청 버튼*/
.verify-number-wrapper{
    width:335px;
    height: 39px;
    font-size : 16px;
    color:#282828;
    font-weight: bold;
    margin: 0 20px 0 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.change-btn {
    width:75px;
    height:39px;
    z-index: 999;
    box-shadow: 0px 0px 5px rgba(117, 117, 117, 0.25);
    border-radius: 8px;
    text-align: center;
    line-height: 39px;
    font-size: 14px;
    margin-left: 10px;
    
}

.confirm-btn {
    width:48px;
    height:39px;
    z-index: 999;
    box-shadow: 0px 0px 5px rgba(117, 117, 117, 0.25);
    border-radius: 8px;
    text-align: center;
    line-height: 39px;
    font-size: 14px;
    margin-left: 10px;
}
.input-change-pwd-wrapper{
    line-height: 12px;
    padding: 12px 0 13px 10px;
    font-weight: bold;
    /* color: #9d999980; */
    list-style: none;
    
}

input:focus {
    outline: none;
}

button{
    width: 335px;
    height: 42px;
    border: none;
    background-color: #2292F9;
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
    border-radius: 8px;
    margin: 30px 20px;
    box-shadow: 2px 2px 4px #00000025;
    
    
}
button a{
    color: #ffffff;
}

a{
    font-family: 'Noto Sans KR', sans-serif;
    text-decoration: none;
    color: #292929;
}