@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');
@import url('/css/style.css');

body{
    width: 375px;
    margin: 0 auto;
    padding: 0;
    font-family: 'Noto Sans KR', sans-serif;
    list-style: none;
    background-color: #f7f7f7;
}

.header {
    height: 145px;
    display: flex; 
    /* flex-grow : 2 2 10%; */
    
    align-items: center;
    background-color: var(--main-color);
    justify-items: center; 
    align-items: center;
    text-align: center;
    justify-content: center;
}

.back-to-index{
    margin-left: 25px;
    background-image: url("../images/HomeButton.svg");
    background-size:100%;
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
    margin-top:60px;
    /* background-color: black; */
    } 

.back-to-index img{
        padding-left: 2px;
    }
h1{
    font-size: 20px;
    color: #282828;
}

li{
    color: #282828;
}
ul{
    /* color: #545454; */
    font-size: 18px;
}

.goback{
    width:60px;
    margin: 50px 0 0 -20px;
}

.mypage-text{
    flex-grow: 0.75;
    margin-top: 40px;
}

/* 버튼 찜한목록/ 평가목록 감싸줌*/
.mypage-list-wrapper{
    width:375px;
    height:51px;
    padding: 20px 0 10px 0;
    background-color: white;
    box-shadow: 0px 1px 4px rgba(0,0,0, 0.1);
    /* box-shadow: var(--block-shadow); */
    border: none;
}
/* 버튼 찜한목록/ 평가목록 */
.mypage-list {
    width:313px;
    height:40px;
    background-color: #ffffff;
    border :1px solid var(--main-color);
    border-radius: 45px;
    margin : 0 auto;
    display: flex;
    align-items: center;
    text-align: center; 
    font-weight: bold;
    border-width: 1px;
}


.like-list{
    background-color:var(--main-color);
    border-radius: 45px;
    /* font-size: 14px; */
    border:none;
    padding: 10px 50px;
    /* width: 140px; */
    /* z-index: 999; */
}

.value-list{
    /* border: solid #FFE551; */
    border-radius: 45px;
    /* font-size: 18px; */
    padding: 10px 30px;
    border-width: 1px;
    color: #b9b7b7;

}                              


/* 찜한목록 카드 이미지 전체 */
.like-restau-list{
    width:335px;
    height:90px;
    background-color: white;
    align-items: center;
    display: grid;
    margin: 10px auto;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 50% 50%;
    /* box-shadow: -1px 0px 1px rgba(0, 0, 0, 0.05),
    1px 0px 1px rgba(0, 0, 0, 0.05),
    0px -1px 1px rgba(0, 0, 0, 0.05),
    0px 1px 1px rgba(0, 0, 0, 0.05); */
    box-shadow: var(--block-shadow);
    border-radius: 8px;
}

.like-restau-img1 img, .like-restau-img2 img, .like-restau-img3 img{
    width:75px;
    height:75px;
    grid-column: 1;
    grid-row: 1/3;
    margin: 50px 0px 0px 10px;
}

/* 식당이름 짜장상회 */
.resto-name{
    margin: 8px 0 0 -10px;
    font-size: 20px;
    color:#545454;
}

/* 가성비 */
.row-list1, .row-list2, .row-list3{
    grid-column: 2/4;
    grid-row: 2;
    color: #2292F9;
    font-weight: bold;
    font-size: 20px;
    margin: 0 0 16px -10px;
}


/* 하트 이미지 */
.like-img{
    width:28px;
    height:24px;
    margin: 32px 0 0 68px; 
    filter : opacity(0.4) drop-shadow(0 0 0 #f98f78);
    grid-row: 1/2;
    grid-column: 3/4;
}

