html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  margin: 0 20px 20px 0;
}
html.open {
  overflow: hidden;
}

#mainBackGround {
  width: 100%;
  height: 15vh;
  position: sticky;
  background-color: rgba(255, 229, 81, 0.9);
  background-attachment: fixed;
  background-size: cover;
  transform: translateX(0%);
  text-align: center;
  align-items: center;
}

.Logo {
  position: relative;
  font-size: 4vh;
  top: 0.5vh;
}

.subLogo {
  position: relative;
  top: -2.8vh;
  justify-content: center;
  align-items: center;
  font-size: 2vh;
}

.hamberger {
  /* background-image: url("./images/icons/hamberger"); */
  position: relative;
  background-repeat: no-repeat;
  width: 4vh;
  height: 40px;
  bottom: 700px;
  background-size: 40px;
  /* align-items: flex; */
  left: 300px;
}

.search {
  position: fixed;
  top: 120px;
  z-index: 999;
  text-align: center;
  /* float: left; */
}
.searchBar {
  border-color: rgba(255, 229, 81, 0.9);
  border-radius: 8px;
}
