body {
    margin: 0;
}

/* ==================== 헤더 ==================== */

.header {
    height: 144px;
    width: 100%;
    background-color: #FFE551;

    /* layout */
    position: sticky;
    top: 0;

    /* item layout */
    display: grid;
    grid-template-columns: 44px 1fr 44px;
    grid-template-rows: 100%;
    align-items: center;
    justify-items: center;

}

.header-title {
    background-image: url(/images/assets/logo.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    width: 50px;
    height: 50px;
    /* "메추리" 텍스트 가리기 */
    overflow: hidden;
    text-indent: -999px;

    /* layout */
    grid-column: 2;
}

.header-menu-btn {
    background-image: url(/images/icons/사람.png);
    background-size: cover;
    background-repeat: no-repeat;
    /* background-position: left top; */

    width: 24px;
    height: 24px;
    /* "메뉴버튼" 텍스트 가리기 */
    overflow: hidden;
    text-indent: -999px;

    /* layout */
    grid-column: 3;
    justify-self: start;
}

.search-bar{
    position: absolute;
    margin-top: 144px;
    width: 85vmin;
    height: 9vmin;
    border-radius: 8px;
    border-color: #F7BB0A;
}

/* ====================== main ========================== */

main {
    margin: 40px 20px;
}

/* ----------------------- 카테고리 ------------------------*/

.category-box {
    width: 100%;
    margin-top: 20px;

    /* layout */
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: space-around;
}

.category-box div {
    box-shadow: 0px 0px 1px 2px #0001;
    border-radius: 8px;
    height: 20vmin;
    width: 15vmin;
    display: flex;
    align-items: center;
    flex-shrink: 0;
}

.category-box div button{
    background-size: contain;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    border: none;

    /* 텍스트 가리기 */
    overflow: hidden;
    text-indent: -999px;

    flex-grow: 1;
    height: 17vmin;
}

.category-korean-btn {
    background-image: url(/images/components/카테고리_한식.png);
}

.category-chinese-btn {
    background-image: url(/images/components/카테고리_중식.png);
}

.category-japanese-btn {
    background-image: url(/images/components/카테고리_일식.png);
}

.category-western-btn {
    background-image: url(/images/components/카테고리_양식.png);
}

.category-bunsik-btn {
    background-image: url(/images/components/카테고리_분식.png);
}

/* ------------------ 가성비 랭킹 TOP 5 ------------------ */
.ranking{
    margin-top: 20px;
}

.ranking-title{
    font-size: 18px;
    margin: 0;
}

.ranking-box{
    margin-top: 10px;

    /* 횡스크롤 */
    overflow-x: auto;

    /* layout */
    display: flex; 
    align-items: center;
    justify-items: center;
    flex-shrink: 0;
}

.ranking-box div{
    margin-right: 10px;
    /* layout */
    display: flex;
    align-items: center;
    justify-items: center;
    flex-shrink: 0;
}

.ranking-box div button{
    background-size: contain;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    border: none;

    /* 텍스트 가리기 */
    overflow: hidden;
    text-indent: -999px;

    flex-grow: 1;
    flex-shrink: 0;

    width: 80vmin;
    height: 45vmin;
}

.ranking_1{
    background-image: url(/images/components/1위.png);
}
.ranking_2{
    background-image: url(/images/components/2위.png);
}
.ranking_3{
    background-image: url(/images/components/3위.png);
}
.ranking_4{
    background-image: url(/images/components/4위.png);
}
.ranking_5{
    background-image: url(/images/components/5위.png);
}
.ranking_all{
    background-image: url(/images/components/랭킹-전체-보기.png);
}

/* ------------------- 가성비 평가하기 ------------------- */

.rating{
    margin-top: 20px;
}

.rating-title{
    font-size: 18px;
    margin: 0;
}

.rating-btn{
    background-image: url(/images/components/가성비를-평가해보세요.png);
    background-size: contain;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    border: none;

    margin-top: 5px;
    width: 100%;
    height: 50vmin;
}

.rating-btn:hover{
    filter: brightness(0.8);
}