body {
    margin: 0;
}

.header {
    height: 144px;
    width: 100%;
    background-color: #FFE551;

    /* layout */
    position: sticky;
    top: 0;

    /* item layout */
    display: grid;
    grid-template-columns: 44px 1fr 44px;
    grid-template-rows: 100%;
    align-items: center;
    justify-items: center;

}

.header-title {
    background-image: url(/images/assets/logo.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    width: 80px;
    height: 80px;
    /* "메추리" 텍스트 가리기 */
    overflow: hidden;
    text-indent: -999px;

    /* layout */
    grid-column: 2;
}

.header-menu-btn {
    background-image: url(/images/icons/사람.png);
    background-size: cover;
    background-repeat: no-repeat;
    /* background-position: left top; */

    width: 24px;
    height: 24px;
    /* "메뉴버튼" 텍스트 가리기 */
    overflow: hidden;
    text-indent: -999px;

    /* layout */
    grid-column: 3;
    justify-self: start;
}

/* --------------------------- main ---------------------------- */

main {
    margin: 20px 20px;
}

.best-rstr-btn {
    background-image: url(/images/components/최고-가성비-식당.png);
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;

    width: 335px;
    height: 184px;

    /* 텍스트 가리기 */
    overflow: hidden;
    text-indent: -999px;
}

.best-rstr-btn:hover {
    cursor: pointer;
    filter: brightness(0.8);
}

.category-box {
    height: 100px;
    width: 100%;
    margin-top: 20px;

    /* layout */
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: space-around;
}

.category_korean-btn {
    background-image: url(/images/components/카테고리_한식.png);
    background-size: contain;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    border: none;

    /* 텍스트 가리기 */
    overflow: hidden;
    text-indent: -999px;

    flex-grow: 1;
    height: 100px;
    width: 40px;
}

.category_chinese-btn {
    background-image: url(/images/components/카테고리_중식.png);
    background-size: contain;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    
    /* 텍스트 가리기 */
    overflow: hidden;
    text-indent: -999px;

    flex-grow: 1;
    height: 100px;
    width: 40px;
}

.category_japanese-btn {
    background-image: url(/images/components/카테고리_일식.png);
    background-size: contain;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    
    /* 텍스트 가리기 */
    overflow: hidden;
    text-indent: -999px;

    flex-grow: 1;
    height: 100px;
    width: 40px;
}

.category_western-btn {
    background-image: url(/images/components/카테고리_양식.png);
    background-size: contain;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    
    /* 텍스트 가리기 */
    overflow: hidden;
    text-indent: -999px;

    flex-grow: 1;
    height: 100px;
    width: 40px;
}

.category_bunsik-btn {
    background-image: url(/images/components/카테고리_분식.png);
    background-size: contain;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    
    /* 텍스트 가리기 */
    overflow: hidden;
    text-indent: -999px;

    flex-grow: 1;
    height: 100px;
    width: 40px;
}