@import url(css/style.css);


/* ---------전체 ----------*/

html,
body {
  margin: 0px;
  background-color: var(--background-color);
}
* {
  font-family: var(--font);
}
/* ---------헤더 ----------*/
header {
  height: 145px;
  width: 100%;
  background-color: var(--main-color);
  z-index: -1;

  /* item layout */
  display: grid;
  grid-template-columns: 44px 1fr 44px;
  grid-template-rows: 100%;
  align-items: center;
  justify-items: center;
}
.header-text {
  width: auto;
  /* layout */
  grid-column: 2;
  text-align: center;
  position: absolute;
  top: 70px;
  transform: translateY(20px);
  font-size: 20px;
  font-weight: 900;
  color: rgb(63, 63, 63);
}

/*뒤로가기*/
.back {
  height: 24px;
  width: 25px;
  background-size: 100%;
  background-image: url("../images/icons/back.svg");
  background-repeat: no-repeat;
  grid-column: 1;
  margin: 57px 0px 0px 30px;
}
/*홈 버튼*/
.home {
  background-image: url("../images/icons/home.svg");
  height: 23px;
  width: 20px;
  background-size: 100%;
  background-repeat: no-repeat;
  position: relative;
  grid-column: 3;
  margin: 57px 30px 0px 0px;
}

/* 메인 */

.mainTitle {
  font-weight: bold;
  display: flex;
  font-size: 18px;
  align-items: center;
  padding-left: 20px;
  width: 375px;
  height: 61px;
  box-shadow: var(--block-shadow);
  background-color: white;
}
/**/

.regdate {
  height: 51px;
  width: 100%;
  margin: 0;
}

button {
  background-repeat: no-repeat;
  border-style: none;
  background-color: rgb(245, 245, 247);
  margin-top:10px;
  height: 15.63px;
  cursor: pointer;
}
.leftBtn{
  background-image: url("../images/icons/left.svg");
  justify-content: center;
}

.rightBtn{
  background-image: url("../images/icons/right.svg");
}
.up {
  background-image: url("../images/icons/upbtn.svg");
  position: absolute;
  width: 12px;
  height: 12px;
  top: 90px;
  left: 230px;
  z-index: 999;
}
.percent{
  position: absolute;
  width: 32px;
  height: 22px;
  top: 100px;
  left: 220px;
  z-index: 999;
  color: #f98f78;
}


ul {
  width: 375px;
  height: 45px;
  display: flex;
  justify-content: center;
  z-index: 999;
  list-style:none;
  /* margin: 20px 35px 10px 35px; */
  padding:0;

}

li {
  float:none;
  margin:0px 28px;
  height: 38px;
  width: 42px;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  text-align: center;
}

.rec {
  position: absolute;
  width: 67px;
  height: 6px;
  left: 154px;
  top: 271px;
  
  background: #D9D9D9;
  border-radius: 8px;

}
.dateTxt {
  position: absolute;
width: 180px;
height: 22px;
left: 98px;
top: 287px;

font-family: 'Noto Sans';
font-style: normal;
font-weight: 300;
font-size: 16px;
line-height: 22px;
/* identical to box height */

display: flex;
align-items: center;
text-align: center;

color: #000000;
}


/*유저 평균*/



.MiddleBack {
  width: 100%;
  height: 450px;
  position: absolute;
  margin-top: 35px;
}

.graphLine {
  position: absolute;
  width: 135px;
  height: 0px;
  top: 130px;
  z-index: 999;
  /* sub2 */

  border: 1px dashed #f98f78;
}

.middle {
  width: 335px;
  height: 450px;
  background-color: rgba(217, 217, 217, 0.3);
  display: flex;
  grid-template-columns: 32fr 1fr 32fr;
  margin: 15px 20px;
  border-radius: 8px;

  flex-direction: column;
  align-items: center;
}

.middleText {
  width: 251px;
  height: 30px;
  font-size: 22px;
  line-height: 30px;
  text-align: center;
  font-weight: 900;
}

/*=============== 그 래 프  ===============*/
.graphs {
  position: absolute;
  width: 143px;
  height: 178px;
  top: 61px;
  margin-top: 20px;
  display: flex;
  align-items: flex-end;
  left: 118px;
}

.graph1 {
  position: absolute;
  width: 46px;
  height: 148px;
  top: 1%;
  margin-left: 94px;
  background: rgba(34, 146, 249, 0.7);
  box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.25);
}

.graph2 {
  position: absolute;
  width: 46px;
  height: 94px;
  top: 56px;
  margin-right: 94px;
  background: rgba(255, 229, 81, 0.7);
  box-shadow: 5px 5px 3px 1px rgba(0, 0, 0, 0.25);
}
.txte {
  position: absolute;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  width: 70px;
  height: 22px;
  color: rgba(109, 109, 109, 1);
}
.graph1Text {
  left: -10px;
}

.graph2Text {
  left: 85px;
}

.middleText2 {
  margin-top: 98px;
  width: 271px;
  height: 130px;
}

.rateImg {
  background-image: url("../images/icons/rateImg.svg");
  background-repeat: no-repeat;
  width: 84px;
  height: 73px;
  margin: 175px 90px 0 90px;
}
.rateTextArea {
  width: 271px;
  height: 60px;
  border-radius: 30px;
  background-color: white;
}

.rateText {
  font-size: 16px;
  text-align: center;
  position: absolute;
  width: 214px;
  height: 44px;
  left: 50%;
  transform: translateX(-50%);
  top: 350px;
  font-weight: 800;
}
