@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

*{
  margin: 0px;
  padding: 0px;   
 }


 header{
    background-color: rgba(255, 229, 81, 1);
    height: 145px;
    display: grid;
    grid-template-columns: 45px 1fr 45px;

 }

 .logo{
  grid-column: 2;
  justify-self: center;
  align-self: center;
}

.exitBtn{
  grid-column: 3;
  align-self: center;
}

main{
  display: flex;
  flex-direction:column;
}


.loginImg{
  margin-top: 90px;
  width: 195px;
  height: 200px;
  margin-left: auto;
  margin-right: auto;
}

.loginBtn{
  /* border: 0; */
  margin-top: 60px; 
  /* background-color: rgba(255, 229, 81, 1); */
  /* width: 335px;
  height: 45px; */
  /* border-radius: 8px; */
  margin-left: auto;
  margin-right: auto;

  /* font-family: 'Noto Sans CJK KR Medium';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  color: rgba(84, 84, 84, 1); */

}

.Btn{
  border: 0;
  background-color: rgba(255, 229, 81, 1);
  font-family: 'Noto Sans CJK KR Medium';
  width: 335px;
  height: 45px;
  border-radius: 8px;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  color: rgba(84, 84, 84, 1);
}

.regBtn{
  border: 0;
  margin-top: 15px;
  background-color: rgba(255, 229, 81, 1);
  width: 335px;
  height: 45px;
  border-radius: 8px;
  margin-left: auto;
  margin-right: auto;

  font-family: 'Noto Sans CJK KR Medium';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  color: rgba(84, 84, 84, 1);
}
