body{
    margin: 0;
}

header {
    height: 144px;
    width: 100%;
    padding: 0px 20px 22px 20px;
    background-color: #FFE551;
    
    
    /* layout */
    box-sizing: border-box;
    position: sticky;
    top: 0;
    display: flex;
}

.search-bar{
    width: 100%;
    height: 30%;
    border-radius: 8px;
    border-color: #F7BB0A;

    /* layout */
    box-sizing: border-box;
    align-self: flex-end;
}

main{
    margin: 0px 20px;
}

.search-result{
    margin-top: 20px;

    /* layout */
    display: flex;
    flex-direction: column;
}

.search-result p{
    font-size: 18px;
    margin: 0;
}

.search-result-count{
    font-weight: bold;
    color: #2292F9;
}

.search-result-box{
    margin: 20px 20px;

    /* layout */
    display: grid;
    grid-template:
    "img 상호 name" 35px
    "img 가성비 value" 35px
    / 75px 80px 1fr;
    row-gap: 5px;
}

.search-result-box img{
    grid-area: img;
    width: 100%;
    height: 100%;
}

.search-result-box p{
    font-size: 20px;
    margin: 0;
}

