@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

* {
    margin: 0px;
    font-family: 'Noto Sans KR';
}

/* ------------------------------- */

header {
    width: 100%;
    padding: 77px 20px 22px 20px;
    box-sizing: border-box;
    /* position: sticky; */
    /* top: 0; */
    background: var(--main-color);
}

.search-container {
    width: 100%;
    display: flex;
    text-align: center;
}

.search-inner {
    position: relative;
    width: 100%;
    height: 45px;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-inner button {
    width: 100%;
    padding-top: 20%;
    background-color: transparent;
    border: none;
}

header p {
    font-size: 20px;
    font-weight: 700;
    line-height: 27px;
    color: #282828;
    display: inline-block;
}

main {
    /* margin: 0px 20px 8px 20px; */
    background: var(--background-color);
}

.menu{
    font-size: 18pt;
    width: 100%;
    height: 64px;
    text-align: center;
    background: white;
    box-shadow: var(--block-shadow);
    margin-bottom: 8px;
    padding: 18px 0 0 0;
    /* 줄바꿈 X */
    white-space: nowrap;
    /* 가로 스크롤 */
    overflow-x: auto;
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
}

.rs-menu {
    /* li 여백 X 좌측*/
    display: inline-block;
}

.menu a {
    color: #282828;
    ;
    font-size: 18px;
    font-weight: 400px;
    text-decoration: none;
    /* line-height: 40px; */
}

/* 가상 요소 */
.menu a:after {
    display: block;
    width: 54px;
    content: '';
    border-bottom: solid 3px var(--sub-color);
    transform: scaleX(0);
    /*변형 방식*/
    transition: transform 250ms ease-in-out;
}

.menu a:hover:after {
    transform: scaleX(1);
    color: var(--sub-color);
}

/* .menu a:focus:after,
.menu a:hover:after {
    transform: scaleX(1);
    color: #2292F9;
    border-bottom-color: #2292F9;
} */

/* 스크롤바 설정 */
.menu::-webkit-scrollbar {
    width: 0;
}
.menu::-webkit-scrollbar-track {
    background: transparent;
}
.menu::-webkit-scrollbar-thumb {
    background-color: transparent;
}

ul, li {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

a:visited {
    text-decoration: none;
    color: inherit;
}

/* 모바일 미디어 쿼리 */
@media screen and (max-width: 357px) {
    /* .search_inner 너비 조정 */
    .search_inner {
        width: 100%;
        max-width: 300px;
    }
}




/* 삭제할 부분 */
/* .search-result-container {
    padding: 0px 20px 8px 20px;
}

.search-result {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 18px 20px;
    gap: 10px;
    position: absolute;
    width: 100%;
    left: 0px;
    top: 144px;
    background: var(--background-color);
    box-shadow: var(--block-shadow);
} */
