@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

* {
    margin: 0px;
    font-family: 'Noto Sans KR';
}

header {
    width: 100%;
    padding: 77px 20px 22px 20px;
    box-sizing: border-box;
    /* position: sticky; */
    /* top: 0; */
    background-color: var(--main-color);
}

.search-container {
    width: 100%;
    display: flex;
    text-align: center;
}

.search-inner {
    position: relative;
    width: 100%;
    height: 45px;
    border: 1px solid #F7BB0A;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background-color: var(--box-color);
    border-radius: 8px;
}

input {
    width: 65%;
    height: 100%;
    border: 0px;
    font-size: 18px;
    outline: none;
    background-color: var(--box-color);
}

button {
    width: 100%;
    padding-top: 10%;
    background-color: transparent;
    border: none;
}

.icon_searching {
    position: absolute;
    left: 15px;
    top: 20%;
}

.icon_backward {
    position: absolute;
    right: 15px;
    top: 20%;
}


main {
    margin: 0px 20px;
    /* background-color: #F7F7F7; */
}

.search-result {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 18px 20px;
    gap: 10px;
    position: absolute;
    width: 100%;
    left: 0px;
    top: 144px;
    background-color: white;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
}

.select {
    width: 87px;
    height: 31px;
    font-size: 16px;
    padding: 0px 0px 0px 2px;
    border-radius: 4px;
    outline: 0 none;
    font-size: 16px;
    color: #4E4E4E;
    border-radius: 8px;
    border-color: #C8C8C8;
  }

  .select option {
    color: #4E4E4E;
    padding: 3px 0;
  }

.search-result-container{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    margin-top: 80px;
    background-color: var(--background-color);
}

.search-result p{
    font-size: 18px;
}

.search-result-count{
    font-weight: bold;
    color: #2292F9;
}

/* ----------- 컨텐츠 ----------- */

.search-result-box{
    width: 100%;
    margin: 10px 0px;
    background-color: var(--background-color);;
}

.btn-search-result{
    /* layout */
    display: grid;
    grid-template:
    "img 상호 name" 37px
    "img 가성비 value" 37px
    / 75px 80px 1fr;
    row-gap: 1px;
}

.btn-search-result img{
    grid-area: img;
    width: 100%;
    height: 100%;
}

.btn-search-result p{
    font-size: 20px;
    margin: 0;
}

.btn-search-result p:nth-child(2){
    font-weight: bold;

    /* layout */
    margin-left: 20px;
    align-self: flex-end;
}
.btn-search-result p:nth-child(3){
    /* layout */
    margin-left: 12px;
    align-self: flex-end;
}
.btn-search-result p:nth-child(4){
    font-weight: bold;
    color: var(--sub-color);
    
    /* layout */
    margin-left: 20px;
    align-self: flex-start;
}
.btn-search-result p:nth-child(5){
    color: var(--sub-color);
    
    /* layout */
    margin-left: 12px;
    align-self: flex-start;
}

a {
    text-decoration: none;
}

a:visited {
    color: inherit;
}

/* 모바일 미디어 쿼리 */
@media screen and (max-width: 357px) {
    /* .search_inner 너비 조정 */
    .search_inner {
        width: 100%;
        max-width: 300px;
    }
}