@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

body{
    margin: 0;
    color: #545454;
    font-family: 'Noto Sans KR';
}

a{
    text-decoration: none;
}
a:visited{
    color: inherit;
}

/* =================== 헤더 =================== */

header {
    height: 144px;
    width: 100%;
    padding: 0px 20px 22px 20px;
    background-color: #FFE551;
    
    
    /* layout */
    box-sizing: border-box;
    position: sticky;
    top: 0;
    display: flex;
}



.search-bar{
    width: 100%;
    height: 30%;
    border-radius: 8px;
    border-color: #F7BB0A;

    /* layout */
    box-sizing: border-box;
    align-self: flex-end;
}

/* =================== 메인 =================== */

main{
    margin: 0px 20px;
}

/* ----------- 검색 결과 ----------- */
.search-result{
    margin-top: 20px;

    /* layout */
    display: flex;
    flex-direction: column;
}

.search-result p{
    font-size: 18px;
    margin: 0px 0px 10px 0px;
}

.search-result-count{
    font-weight: bold;
    color: #2292F9;
}

/* ----------- 컨텐츠 ----------- */
.search-result-box{
    margin: 10px 20px;
}

.btn-search-result{
    /* layout */
    display: grid;
    grid-template:
    "img 상호 name" 37px
    "img 가성비 value" 37px
    / 75px 80px 1fr;
    row-gap: 1px;
}

.btn-search-result img{
    grid-area: img;
    width: 100%;
    height: 100%;
}

.btn-search-result p{
    font-size: 20px;
    margin: 0;
}

.btn-search-result p:nth-child(2){
    font-weight: bold;

    /* layout */
    margin-left: 20px;
    align-self: flex-end;
}
.btn-search-result p:nth-child(3){
    /* layout */
    margin-left: 12px;
    align-self: flex-end;
}
.btn-search-result p:nth-child(4){
    font-weight: bold;
    color: #2292F9;
    
    /* layout */
    margin-left: 20px;
    align-self: flex-start;
}
.btn-search-result p:nth-child(5){
    color: #2292F9;
    
    /* layout */
    margin-left: 12px;
    align-self: flex-start;
}